p {
    background-color: rgb(224, 224, 164);
}

a {
    background-color: aquamarine;
}

div {
    background-color: rgb(209, 153, 48);
}

span {
    background-color: rgb(148, 48, 48);

}